



h1{ margin-bottom: 20px;
    margin-left: 5px;
    padding: 20px;
font-size:50px;
    text-align: center;
    text-size:100px ;
    color:sienna;}

    p{ color:brown;
        font-size: 35px;
        float: left;
    height: 450px;
width: 1000px;
text-align: center;
margin-left: 220px;
};

